/* agregra tipografia */
body{
    width: 100%;
    min-height: 100vh;
    background: url("../img/hong.jpg");
    background-size: cover;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
section{
    width: 90%;
    max-width: 1350px;
    margin: 8% auto;
    border: 1px solid yellow;
    background: gray;
    text-align: center;
    padding: 30px 30px 60px 30px;

}
h1{
    color: black;
    font-size: 60px;
}
p{
    color: black;
    font-size: 22px;
}

button{
    background: transparent;
    border: 2px solid gold;
    padding: 12px 30px;
    margin: 10px;
    color: black;
    cursor: pointer;
}
button:hover{
    background: black;
    color: purple;
    border: 2px solid white;
    border-radius: 8px;
}